{% extends "placement/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Edit Profile: {{user.get_full_name}}</h2>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}